

/* Business Detail */

.calendar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.weekControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
    max-width: 1000px;
    background-color: var(--first);
    color: var(--third);
    padding: 8px 15px;
    border: 2px solid var(--third);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, var(--first) 0px 0px 0px 3px;
}
.weekControl .weeks{
    font-size: 20px;
    overflow: hidden;
}
.weekControl .weeks .week{
    display: none;
}
.weekControl .weeks .week.active{
    
    display: flex;
    align-items: center;
    gap: 10px;
    animation: 0.5s showActive;
}

@keyframes showActive {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.weekControl .controlButton{
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    opacity: 0;
}
.weekControl .controlButton.active{
    opacity: 1;
}






.weekCalendar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
    max-width: 1500px;
    margin-top: 30px;
}
.weekCalendar .weeks{
    overflow: hidden;
}
.weekCalendar .weeks .week{
    display: none;
}
.weekCalendar .weeks .week.active{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    animation: 0.5s showActive;
}
.weekCalendar .weeks .week .day{
    width: 150px;
    height: 600px;
    border: 3px solid var(--first);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}
.weekCalendar .weeks .week .day .dayHeader{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--first);
    color: var(--third);
    padding: 8px 15px;
    border: 2px solid var(--third);
    border-radius: 10px;
}
.weekCalendar .weeks .week .day .dayHeader .dayName{
    font-size: 14px;
}
.weekCalendar .weeks .week .day .dayBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: var(--first);
    font-weight: 600;
    padding: 0px 13px;
    height: 100%;
    overflow: auto;
}
.weekCalendar .weeks .week .day .dayBody .event{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    margin: 6px 0px;
    border-radius: 10px;
}
.weekCalendar .weeks .week .day .dayBody .event.full{
    background-color: #afafaf;
    color: white;
}
.weekCalendar .weeks .week .day .dayBody .event.open{
    background-color: #4f772d;
    color: white;
}




.weekCalendar .weeks .week .day.off{
    border: 3px solid #afafaf;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.weekCalendar .weeks .week .day.off .dayHeader{
    background-color: #afafaf;
    color: white;
}
.weekCalendar .weeks .week .day.off .dayBody{
    color: #afafaf;
    font-size: 16px;
}

.Toastify__toast-container--bottom-center{
    min-width: 500px;
}



/* Business Account */
.accountContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 0;
}
.accountContainer .sidebar{
    position: fixed;
    height: 100vh;
    background-color: var(--first);
    color: var(--third);
    border: none;
}
.accountContainer .sidebar .hamburger{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 15px;
}
.accountContainer .sidebar .menu{
    margin-top: 100px;
}
.accountContainer .sidebar .ps-sidebar-container{
    background-color: var(--first);
}
.accountContainer .sidebar .menu .menuItem{
    font-size: 18px;
}

.accountContainer .sidebar .menu .menuItem a span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.accountContainer .sidebar .menu .menuItem a span svg{
    display: flex;
    fill: white;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}
.accountContainer .sidebar .menu .menuItem a{
    transition: 0.2s;
}
.accountContainer .sidebar .menu .menuItem a:hover{
    background-color: var(--first);
    color: var(--third);
}
.accountContainer .sidebar .menu .menuItem a.ps-active{
    background-color: white;
    color: var(--first);
}
.accountContainer .sidebar .menu .menuItem a.ps-active svg{
    fill: var(--first);
}
.accountContainer .sidebar .menu .menuItem.logout{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.accountContainer .sidebar .menu .menuItem.logout svg{
    fill: var(--first);
    color: var(--third);
}
.accountContainer .sidebar .menu .menuItem.logout svg path{
    stroke: #EBF2FA;
    transition: 0.2s;
}
.accountContainer .sidebar .menu .menuItem.logout a:hover{
    color: rgb(255, 47, 47);
}
.accountContainer .sidebar .menu .menuItem.logout a:hover svg path{
    stroke: rgb(255, 47, 47);
}
.baSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 300px;
    animation: 0.5s showActive;
}
.baSection .baHeader h1{
    font-size: 34px;
    color: var(--first);
    padding: 20px 0px 10px 20px;
    border: 3px solid var(--first);
    border-radius: 10px;
}
.baSection .baBody{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    width: auto;
}
.baSection .baBody .control .controlTabs{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.baSection .baBody .control .controlTabs .tabItem{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    color: #afafaf;
    line-height: 1.2;
    border-bottom:1px solid #afafaf;
    cursor: pointer;
    min-width: 140px;
    text-align: center;
}
.baSection .baBody .control .controlTabs .tabItem.active{
    color: var(--first);
    font-weight: 600;
    border-bottom:3px solid var(--first);
}
.baSection .baBody .control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baSection .baBody .control .controlOrder{
    margin-bottom: 20px;
}
.baSection .baBody .control .controlOrder .order{
    font-size: 16px;
    color: var(--first);
    padding: 10px 15px 10px 10px;
    border:none;
    border:2px solid var(--first);
    border-radius: 5px;
    outline:none;
}

.appointmentCard{
    display: flex;
    flex-direction: column;
    border : 2px solid var(--first);
    box-shadow:  #1C4B82 0px 0px 10px, white 0px 0px 0px 2px, var(--first) 0px 0px 0px 4px;
    border-radius: 10px;
    max-width: 700px;
    padding: 20px 30px;
    margin-bottom: 20px;
    color: var(--first);
}
.appointmentCard .cardHead{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
}
.appointmentCard .cardHead .date{
    display: flex;
    font-size: 22px;
    font-weight: 700;
    gap: 5px;
}
.appointmentCard .cardHead .hour{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
    margin-bottom: 10px;
}
.appointmentCard .cardBody{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.appointmentCard .cardBody .user{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.appointmentCard .cardBody .user div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.appointmentCard .cardBody .user div span{
    padding-top: 3px;
}
.appointmentCard .cardBody .user div svg{
    width: 24px;
    height: 24px;
    fill: var(--first);
}
.appointmentCard .cardBody .status{
    margin-bottom: 10px;
    margin-right: 10px;
}
.appointmentCard .cardBody .status .approved{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
}
.appointmentCard .cardBody .status .approved svg{
    width: 18px;
    height: 18px;
    fill: var(--first);
}
.appointmentCard .cardBody .status .pending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appointmentCard .cardBody .status .pending .head{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
}
.appointmentCard .cardBody .status .pending .head svg{
    width: 28px;
    height: 28px;
    fill: var(--first);

}
.appointmentCard .cardBody .status .pending .manage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.appointmentCard .cardBody .status .pending .manage .approve{
    padding: 5px 20px;
    background-color: #4f772d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.appointmentCard .cardBody .status .pending .manage .reject{
    padding: 5px 20px;
    background-color: #ff2c2c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.appointmentCard .cardBody .status .rejected{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
}
.appointmentCard .cardBody .status .rejected svg{
    width: 20px;
    height: 20px;
    fill: var(--first);
}